
@{
    ViewBag.Title = "UserRegistration";
}

<h2>Please fill the form to register!</h2>

<form action="/Home/UserRegistration" method="post">
    <label>First Name</label><br />
    <input type="text" name="FirstName" />

    <label>Last Name</label><br />
    <input type="text" name="LastName" />

    <label>Email</label><br />
    <input type="text" name="Email" />

    <label>Phone Number</label><br />
    <input type="text" name="PhoneNumber" />

    <label>Password</label><br />
    <input type="password" name="Password" />


</form>